{{> nav}}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    {{#header}}
    <h1>{{blurb}}</h1>
    <p>{{detail}}</p>
    <p><a class="btn btn-primary btn-lg" href="/apply" role="button">Apply now &raquo;</a></p>
    {{/header}}
  </div>
</div>

<div class="container">
  <h1>Code of Conduct</h1>
  <p><a class="btn btn-primary btn-lg" href="/code-of-conduct" role="button">Read &raquo;</a></p>
</div>

{{> scripts}}
